@import "variables";
body {
   margin: $origin;
}
li {
  list-style: $none;
}
h2 {
  font-size: 40px;
  font-family: " DM Serif Display";
 }
h1 {
  color: white;
  margin: $origin;
}
ul  {
  padding-left: $origin;
}

article ,footer {
 @include padding-left-right;
}
button {
  font-family: "DM Sans";
}
form input {
  box-sizing: border-box;
}
form input , 
button {
  border-radius: 5px;
}
footer li a 
, footer p,
 .decription {
  @include generalColor;
}
.unorder_link_icon {
  display: flex;
}
.icon_share_link a img  {
  height: 18px;
}
