@import "variables";
body {
   margin: $origin;
}
html {
   min-width: 100%;
  
}
li {
  list-style: $none;
}
h1 a {
  font-size: 24px;
} 

h2 , h3 {
  font-size: 40px;
  font-family: " DM Serif Display";
  color:  #000000;
  margin: 0;
 }
h1 {
  color: white;
  margin: $origin;
}
ul  {
  padding-left: $origin;
  margin: 0;
}

article {
 @include padding-left-right;
}
button {
  font-family: "DM Sans";
}
form input {
  box-sizing: border-box;
}
form input , 
button {
  border-radius: 5px;
}

footer li a 
, footer p,
 .decription , .unorder_list_info b {
  @include generalColor;
}

figure {
  margin: $origin;
}
li a {
  @include line-height ;
}
.unorder_list_info p, footer p a {
   font-family: "DM Sans";
   font-weight: bold;
}


