@import "variables";

.container_latest {
  background-color:#FFDD78;
}
@mixin latest {
  display: flex;
  flex-direction: column;
}
form  {
 @include latest;
}
@mixin size {
  height: 48px;
  margin-bottom: 1rem;
}
button,
form input {
  @include size;
}

form input {
  width: -webkit-fill-available;
}
button {
  width: 169px;
}

@media (min-width : 380px) {
  .container_latest {
   @include articles;
   padding : 0;
  }
  .container_latest .container_header  {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     max-width: 1200px ;
     margin-inline-end: auto;
    margin-inline-start: auto;
  }
  
  .container_latest header {
    width: 70%;
  }
  .container_header > div {
    display: contents;
  }
  .container_latest {
   padding-top: 72px;
   padding-bottom: 140px;
  }

} 
@media (min-width : 380px) {
   form div {
     display: flex;
    flex-direction: row;
   }
   input {
     margin-right: 2rem;
   }
   form {
    align-items: stretch;
    justify-content: center;
   }
}
