@import "variables";
form label {
  font-weight: bold;
}
.container_latest {
  background-color: #ffdd78;
}
@mixin latest {
  display: flex;
  flex-direction: column;
}
form {
  @include latest;
  padding-bottom: calc(var(--padding) - 13px);
}

button,
form input {
  @include size;
}
form label {
  padding-bottom:calc(var(--padding-value) / 2);
}
form input {
  // This is width is for fire fox
  // width: -moz-available;
  // this is for google chrome
 width: 346px ;
  padding-left: 16px;
  max-width: 100%;
  border: 1px solid #dadada;
}

button {
  width: 100%;
  min-width: 48px;
  max-width: 172px;
  border: $none;
  font-weight: bold;
}
.container_header h3 {
  padding-top: calc(var(--padding) - 17px);
  padding-bottom: calc(var(--padding) - 59px);
  font-weight: 400;
}
.container_latest h2 {
  padding-bottom: calc(var(--padding) - 34px);
}

@media (min-width: 375px) {
  .container_latest {
    padding-top: 79px;
  }
  .container_latest .container_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
  .container_latest h2 {
    padding-bottom: 104px;
  }

  .container_latest header {
    width: 70%;
  }
  .container_header > div {
    display: contents;
  }

  form div {
    display: flex;
    flex-direction: row;
  }

  form {
    align-items: stretch;
    justify-content: center;
    padding-top: 3rem;
  }
  input {
    // padding-left: 16px;
    // padding-right: 172px;
  }
  button {
    width: 170px;
    margin-left: 74px;
  }
  .container_header h3 {
    padding-top: 0;
  }
}

