@import "variables";
form label {
    font-weight: bold;
    font-size: 12px;
}

.container_latest {
    background-color: #ffdd78;
    padding: 0;
}

@mixin latest {
    display: flex;
    flex-direction: column;
}

form {
    @include latest;
    padding-bottom: calc(var(--padding) - 13px);
}

button,
form input {
    @include size;
}

form label {
    padding-bottom: calc(var(--padding-value) / 2);
}

form input {
    width: 346px;
    padding-left: 16px;
    max-width: 100%;
    border: 1px solid #dadada;
}

button {
    width: 100%;
    min-width: 48px;
    max-width: 172px;
    border: $none;
    font-weight: bold;
    background-color: #434ccc;
}

.container_header {
    margin-left: 14px;
    margin-right: 15px;
}

.container_header h3 {
    padding-top: calc(var(--padding) - 17px);
    padding-bottom: calc(var(--padding) - 59px);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-align: left;
}

.container_latest h2 {
    padding-bottom: calc(var(--padding) - 34px);
    font-family: "DM Serif Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

@media (min-width: 1000px) {
    .container_latest {
        padding-top: 73px;
    }
    .container_latest .container_header {
        display: flex;
        width: 87%;
        margin: auto;
        display: flex;
    }
    .container_latest h2 {
        font-size: 52px;
        line-height: 64px;
    }
    .container_header>div {
        display: flex;
        gap: 150px;
        align-items: center;
        padding-bottom: 58px;
    }
    form div {
        display: flex;
        flex-direction: row;
    }
    form {
        align-items: stretch;
        justify-content: center;
        padding-top: 3rem;
        margin-right: 1rem;
    }
    button {
        width: 170px;
        margin-left: 54px;
    }
    .container_header h3 {
        padding-top: 0;
    }
}