@import "variables";

.about_personal {
  padding-bottom: var(--padding);
}
.unorder_link_icon {
  display: flex;
}
.icon_share_link a img {
  height: 18px;
  margin-right: 0.75rem;
}
.blog_entry p {
  padding-bottom: $origin;
}
p {
  @include line-height;
}
@media (min-width: 375px) {
  .container_header h2,
  .place-info h2 {
    @include desktopFont-size;
  }
  .content-intro h2 {
    @include desktopFont-size-beauty;
  }
  article {
    padding: $origin;
  }
}
