@import "variables";
h1 {
  padding-top: var(--size);
  padding-bottom: var(--size);
  padding-left: 1rem;
}

h1 a {
  font-family: "DM Serif Display";
  font-weight: normal;
  font-style: normal;
}

label,
h1,
.container_latest h3 {
  @include transformUppercase;
}

.header_container {
  @include colors;
}

.incon-menu {
  display: block;
  width: 2rem;
  height: 1.5rem;
  background-image: url(../icon/icon_menu.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 20px 0.85rem;
  top: 2rem;
  right: 1rem;
  bottom: 1.5rem;
}

.menu {
  @include my_list;
}

.checkbox_input[type="checkbox"]:checked ~ header label {
  display: block;
  position: $position;
  top: $origin;
  left: $origin;
  bottom: $origin;
  right: $origin;
  background-color: transparent;
  background: none;
  width: 100%;
  height: 100%;
}

span {
  display: none;
}
.checkbox_input:checked ~ nav {
  transform: translateX(0);
  position: $position;
  top: $origin;
  left: auto;
  bottom: $origin;
  right: $origin;
  z-index: 1;
  width: 250px;
  background-color: darkblue;
  box-shadow: $origin $origin 50px rgba($origin, $origin, $origin, 0.25);
}
.checkbox_input {
  display: $none;
}

@media (min-width: 670px) {
  h1 a {
    @include font-size2;
  }
  h1 {
    padding-left: 0;
  }
 
  .menu {
    position: relative;
    padding: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: $none;
    transform: $none;
    transition: $none;

    ul {
    display: flex;
    flex-direction: row;
    top: -3rem;
    right: 0;

     li {
      background-repeat: no-repeat;
      background-position: 10px 15px;
      transform: none;
     }
  }
  }

  .incon-menu {
    background-image: $none;
  }

  .header_container {
    padding: $origin;
  }
  .menu_container {
    max-width: 1170px;
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
  .menu ul li a {
    font-size: var(--size);
    padding-right: 1.5rem;
    font-weight: 700;
  }
}
