// this is the all variable use on the all files
$none: none;
$origin: 0;
$position: absolute;
$transform-text: uppercase;
$start-number: 1rem;
$first-color: #434ccc;
$letterColor: white;



@mixin decoration {
  text-decoration: $none;
}

@mixin colors {
  background-color: $first-color;
}
@mixin letter-color {
  color: $letterColor;
}

@mixin generalColor {
  color: rgba(0, 0, 0, 0.5);
}
@mixin blackColor {
  color: #000000;
}
@mixin transformUppercase {
  text-transform: $transform-text;
}

@mixin padding-left-right {
  padding-left: 14px;
  padding-right: 15px;
}
@mixin size {
  height: 48px;
  margin-bottom: 1rem;
}

@mixin reset-list {
  transform: translateX(-180px);
  position: $position;
}

@mixin horizontal-list {
  @include reset-list;
  ul {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    top: $origin;
    bottom: $origin;
    padding: $origin;
  }
}

@mixin my_list {
  @include horizontal-list;
  li {
    background-repeat: no-repeat;
    background-position: 10px 15px;
    transform: translate(90px, 80px);
    padding-bottom: 2rem;
  }
}


@mixin generalDiv {
  max-width: 1200px;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

@mixin desktopFont-size {
  font-size: 52px;
}
@mixin desktopFont-size-beauty {
  font-size: 72px;
}

@mixin line-height {
  font-size: 16px;
  line-height: 24px;
}

@mixin font-size1 {
  font-size: 52px;
}

@mixin font-size2 {
  font-size: 40px;
}
