@font-face {
  font-family: "DM Serif Display";
  font-style: "normal";
  font-weight: 400;
  src: local("DM Serif Display"), url("../fonts/dm_serif_display_400.woff2") format("woff2"), url("../fonts/dm_serif_display_400.woff") format("woff"); }

@font-face {
  font-family: "DM Sans";
  font-style: "normal";
  font-weight: 400;
  src: local("DM Sans"), url("../fonts/dm_sans_400.woff2") format("woff2"), url("../fonts/dm_sans_400.woff") format("woff"); }

@font-face {
  font-family: "DM Sans";
  font-style: "normal";
  font-weight: 700;
  src: local("DM Sans"), url("../fonts/dm_sans_700.woff2") format("woff2"), url("../fonts/dm_sans_700.woff") format("woff"); }

body {
  font-family: "DM Sans";
  font-weight: normal; }

body {
  margin: 0; }

html {
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden; }

h1 {
  color: white;
  margin: 0; }

h1 a {
  font-size: 24px; }

li {
  list-style: none; }

h2,
footer h3 {
  font-size: 40px;
  font-family: "DM Serif Display";
  color: #000000;
  margin: 0; }

h3 {
  margin: 0; }

p {
  margin: 0; }

ul {
  padding-left: 0;
  margin: 0; }

article {
  padding-left: 14px;
  padding-right: 15px; }

form input,
button {
  border-radius: 5px;
  box-sizing: border-box; }

footer li a,
footer p,
.decription,
.unorder_list_info b {
  color: rgba(0, 0, 0, 0.5); }

figure {
  margin: 0; }

li a,
input,
button {
  font-size: 16px;
  line-height: 24px; }

button,
h1 a,
.list_item_menu a {
  color: white; }

a {
  text-decoration: none; }

h1 {
  padding-top: var(--size);
  padding-bottom: var(--size);
  padding-left: 1rem; }

h1 a {
  font-family: "DM Serif Display";
  font-weight: normal;
  font-style: normal; }

label,
h1,
.container_latest h3 {
  text-transform: uppercase; }

.header_container {
  background-color: #434ccc; }

.incon-menu {
  display: block;
  width: 2rem;
  height: 1.5rem;
  background-image: url(../icon/icon_menu.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 20px 0.85rem;
  top: 2rem;
  right: 1rem;
  bottom: 1.5rem; }

.menu {
  transform: translateX(-180px);
  position: absolute; }
  .menu ul {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    padding: 0; }
  .menu li {
    background-repeat: no-repeat;
    background-position: 10px 15px;
    transform: translate(90px, 80px);
    padding-bottom: 2rem; }

.checkbox_input[type="checkbox"]:checked ~ header label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background: none;
  width: 100%;
  height: 100%; }

span {
  display: none; }

.checkbox_input:checked ~ nav {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 250px;
  background-color: darkblue;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25); }

.checkbox_input {
  display: none; }

@media (min-width: 670px) {
  h1 a {
    font-size: 40px; }
  h1 {
    padding-left: 0; }
  .menu {
    position: relative;
    padding: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: none;
    transform: none;
    transition: none; }
    .menu ul {
      display: flex;
      flex-direction: row;
      top: -3rem;
      right: 0; }
      .menu ul li {
        background-repeat: no-repeat;
        background-position: 10px 15px;
        transform: none; }
  .incon-menu {
    background-image: none; }
  .header_container {
    padding: 0; }
  .menu_container {
    max-width: 1170px;
    margin-inline-end: auto;
    margin-inline-start: auto; }
  .menu ul li a {
    font-size: var(--size);
    padding-right: 1.5rem;
    font-weight: 700; } }

.about_personal {
  padding-bottom: var(--padding); }

.unorder_link_icon {
  display: flex; }

.icon_share_link a img {
  height: 18px;
  margin-right: 0.75rem; }

.blog_entry p {
  padding-bottom: 0; }

p {
  font-size: 16px;
  line-height: 24px; }

@media (min-width: 375px) {
  .container_header h2,
  .place-info h2 {
    font-size: 52px; }
  .content-intro h2 {
    font-size: 72px; }
  article {
    padding: 0; } }

:root {
  --padding: 78px;
  --padding-value: 2rem;
  --size: 16px; }

.container {
  width: 100%;
  margin: 0;
  padding: 43px 0;
  background-color: rgba(67, 76, 204, 0.05); }
  .container .container_info {
    padding-left: 14px;
    padding-right: 15px; }
    .container .container_info .content-intro h2 {
      font-size: 52px;
      padding-bottom: calc(var(--padding) - 13px);
      padding-top: calc(var(--padding) - 17px);
      font-family: "DM Serif Display";
      font-weight: normal;
      font-style: normal;
      line-height: 64px; }
    .container .container_info .content-intro p {
      padding-bottom: calc(var(--padding) + 4px); }
    .container .container_info .content-intro a {
      background-image: url(../icon/icon_arrow_left.png);
      background-repeat: no-repeat;
      padding-left: var(--padding-value);
      background-size: calc(var(--padding-value) / 2);
      background-position-y: calc(var(--padding-value) / 5);
      color: rgba(0, 0, 0, 0.5); }
    .container .container_info .active_image_list .active-image-wrapper {
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-y: scroll; }
      .container .container_info .active_image_list .active-image-wrapper .active-image-bottom {
        display: flex; }
        .container .container_info .active_image_list .active-image-wrapper .active-image-bottom img {
          width: 35vw;
          background-repeat: no-repeat;
          border-radius: 5px;
          margin-right: calc(var(--padding-value) / 4);
          opacity: 0.5; }
        .container .container_info .active_image_list .active-image-wrapper .active-image-bottom .active-rock_carvings--small {
          opacity: unset; }
    .container .container_info .active_image_list .active-image-wrapper::-webkit-scrollbar {
      display: none; }
    .container .container_info .more-info .unorder_list_info {
      padding-top: 92px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .container .container_info .more-info .unorder_list_info p {
        font-weight: bold; }
      .container .container_info .more-info .unorder_list_info li {
        padding-bottom: calc(var(--padding) - 57px);
        line-height: 24px; }
      .container .container_info .more-info .unorder_list_info li p {
        padding-top: 8px; }
    .container .container_info .more-info .place-info p {
      font-size: calc(var(--size) + 2px);
      width: 100%;
      letter-spacing: -0.6px;
      line-height: 32px;
      padding-bottom: calc(var(--padding) - 45px);
      margin: 0; }
    .container .container_info .more-info .place-info p + p {
      font-size: calc(var(--size) - 1px);
      line-height: 24px;
      width: 100%;
      letter-spacing: 0.1px; }
    .container .container_info .more-info .place-info h2 {
      padding-top: calc(var(--padding) - 3px);
      padding-bottom: calc(var(--padding) - 47px);
      font-weight: normal; }

.active-image img {
  width: 100%;
  max-width: 1170px;
  height: calc(87.7vw * 429 / 690);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px; }

@media (min-width: 800px) {
  .container .container_info {
    max-width: 1170px;
    margin-inline-end: auto;
    margin-inline-start: auto; }
    .container .container_info .content-intro h2 {
      font-size: 72px; }
    .container .container_info .active_image_list .active-image-wrapper .active-image-bottom img {
      width: 137px;
      background-repeat: no-repeat;
      border-radius: 5px;
      margin-right: 10px; }
    .container .container_info .more-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: calc(var(--padding) - 6px);
      padding-top: calc(var(--padding) + 11px); }
      .container .container_info .more-info .unorder_list_info {
        padding-top: 0; }
        .container .container_info .more-info .unorder_list_info br {
          display: contents; }
      .container .container_info .more-info .place-info p {
        letter-spacing: 0.2px; }
      .container .container_info .more-info .place-info p + p {
        letter-spacing: 0.7px; }
      .container .container_info .more-info .place-info h2 {
        padding-top: 0; } }

@media (min-width: 766px) {
  .content-intro {
    width: 70%; } }

@media (min-width: 1074px) {
  .content-intro {
    width: 50%; } }

form label {
  font-weight: bold;
  font-size: 12px; }

.container_latest {
  background-color: #ffdd78;
  padding: 0; }

form {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(var(--padding) - 13px); }

button,
form input {
  height: 48px;
  margin-bottom: 1rem; }

form label {
  padding-bottom: calc(var(--padding-value) / 2); }

form input {
  width: 346px;
  padding-left: 16px;
  max-width: 100%;
  border: 1px solid #dadada; }

button {
  width: 100%;
  min-width: 48px;
  max-width: 172px;
  border: none;
  font-weight: bold;
  background-color: #434ccc; }

.container_header {
  margin-left: 14px;
  margin-right: 15px; }

.container_header h3 {
  padding-top: calc(var(--padding) - 17px);
  padding-bottom: calc(var(--padding) - 59px);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: left; }

.container_latest h2 {
  padding-bottom: calc(var(--padding) - 34px);
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; }

@media (min-width: 1200px) {
  .container_latest {
    padding-top: 73px; }
  .container_latest .container_header {
    display: flex;
    width: 87%;
    margin: auto;
    display: flex; }
  .container_latest h2 {
    font-size: 52px;
    line-height: 64px; }
  .container_header > div {
    display: flex;
    gap: 150px;
    align-items: center;
    padding-bottom: 58px; }
  form div {
    display: flex;
    flex-direction: row; }
  form {
    align-items: stretch;
    justify-content: center;
    padding-top: 3rem;
    margin-right: 1rem; }
  button {
    width: 170px;
    margin-left: 54px; }
  .container_header h3 {
    padding-top: 0; } }

footer .about_photo {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  width: 100%;
  margin: 0 auto;
  padding-top: 75px; }
  footer .about_photo .more_link {
    max-width: 1170px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    padding-left: 14px;
    padding-right: 15px; }
    footer .about_photo .more_link .about_personal h3 {
      font-size: 24px;
      text-transform: uppercase;
      line-height: 32px;
      font-family: DM Serif Display;
      font-weight: normal; }
    footer .about_photo .more_link .about_personal h3,
    footer .about_photo .more_link .about_personal p {
      padding-bottom: calc(var(--padding) - 55px); }
    footer .about_photo .more_link .about_personal + ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 78px; }
      footer .about_photo .more_link .about_personal + ul p a {
        color: black;
        font-weight: bold; }
    footer .about_photo .more_link .blog_entry li a {
      display: flex;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 26px; }
    footer .about_photo .more_link .blog_entry li b {
      display: contents; }
    footer .about_photo .more_link .blog_entry li img {
      width: 70px;
      height: 48px;
      margin-right: 1.25rem;
      border-radius: 5px; }
    footer .about_photo .more_link .blog_entry li p a {
      font-size: 15px; }
    footer .about_photo .more_link .blog_entry li p + p {
      font-weight: bold;
      color: black; }

footer .about_photo + div .copy_link {
  padding-top: calc(var(--padding) - 51px);
  padding-left: 14px;
  padding-right: 15px;
  padding-bottom: 29px; }

@media (min-width: 800px) {
  footer .about_photo {
    padding-top: 72px;
    padding-left: 0;
    padding-right: 0; }
    footer .about_photo .about_personal {
      width: 23%; }
      footer .about_photo .about_personal + ul {
        width: 27%; }
    footer .about_photo .more_link nav {
      display: flex;
      justify-content: space-between; }
      footer .about_photo .more_link nav .about_personal .blog_entry {
        width: 40%; }
        footer .about_photo .more_link nav .about_personal .blog_entry li {
          padding-bottom: 30px; }
          footer .about_photo .more_link nav .about_personal .blog_entry li img {
            width: 100px;
            height: 60px; }
          footer .about_photo .more_link nav .about_personal .blog_entry li div a {
            font-size: var(--size); }
  footer .about_photo + div .copy_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1170px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    padding-bottom: 67px; }
    footer .about_photo + div .copy_link p {
      margin: 0; } }
